<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}"/>
</head>
<body class="limiter">
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin p-l-200" th:href="@{/} "><img th:src="@{/img/home.png}" class="account-bin">
            </a>
            <ul th:if="${#request.isUserInRole('MANAGER') || #request.isUserInRole('CLIENT')}" class="p-l-500">
                <li><a class="a-link-margin p-l-100" th:href="@{/logout}">
                    <img th:src="@{/img/exit.png}" class="account-bin">
                </a></li>
            </ul>
        </div>
    </div>
</header>


<div class="text-center">
    <h1 class="c-text-h1 margin-five">Поиск новостей</h1>
    <form th:action="@{/news/news}" method="get">

        <input class="search" type="text" name="search" th:value="${search}"
               placeholder="Поиск по заголовку или тексту">

        <div class="addProduct" th:if="${#request.isUserInRole('MANAGER')}"><a
                th:href="@{/news/add}" class="buttonMenu centerHorizon centerVertical ">Добавить</a></div>

        <div th:if="${#lists.isEmpty(result)}" class="c-label incorrect">Ничего не найдено!</div>

        <div th:if="${not #lists.isEmpty(result)}">
            <h1 class="c-text-h1">Найденные новости</h1>
            <div class="table-container-user">
                <table>
                    <thead>
                    <tr>
                        <th class="a-link-no-margin">Id</th>
                        <th class="a-link-no-margin">Дата</th>
                        <th class="a-link-no-margin">Заголовок</th>
                        <th class="a-link-no-margin">Тело</th>
                        <th th:if="${#request.isUserInRole('MANAGER')}" class="a-link-no-margin"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="findUser: ${result}">
                        <td><a th:text="${findUser.id}"></a></td>
                        <td th:utext="${#temporals.format(findUser.date, 'dd-MMM-yyyy')}" class="a-link-no-margin"></td>
                        <td th:utext="${findUser.title}" class="a-link-no-margin"></td>
                        <td th:utext="${findUser.text}" class="a-link-no-margin big-text"></td>
                        <td th:if="${#request.isUserInRole('MANAGER')}" class="td-x-container"><a class="a-link-no-margin red-x"
                                                      th:href="'/news/delete?id=' + ${findUser.id}"><img
                                th:src="@{/img/trash-bin.png}" class="crash-bin"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
</body>
</html>