<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}"/>
</head>
<body class="limiter">
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin p-l-200" th:href="@{/} "><img th:src="@{/img/home.png}" class="account-bin">
            </a>
            <ul class="p-l-500">
                <li><a class="a-link-margin p-l-100" th:href="@{/logout}">
                    <img th:src="@{/img/exit.png}" class="account-bin">
                </a></li>
            </ul>
        </div>
    </div>
</header>


<form class="box" action="#" th:action="@{/user/edit}" th:object="${client}" method="post">
    <div class="c-label box c-box-input" style="margin-top: 15%">

        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
            <input pattern="[a-zA-Z]{8}" class="input100" type="password" placeholder="Пароль" id="password" name="password">
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
            <label for="firstName">Имя</label>
            <input class="input100" th:value="${client.firstName}" type="text" id="firstName" name="firstName">
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
            <label for="lastName">Фамилия</label>
            <input class="input100" th:value="${client.lastName}" type="text" id="lastName" name="lastName">
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
            <label for="document">Документ</label>
            <input class="input100" th:value="${client.document}" type="text" id="document" name="document">
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
            <label for="documentNumber">Номер документа</label>
            <input class="input100" th:value="${client.documentNumber}" type="text" id="documentNumber"
                   name="documentNumber">
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
            <label for="phone">Телефон</label>
            <input class="input100" th:value="${client.phone}" type="text" id="phone" name="phone">
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
            <label for="experience">Опыт(полных лет)</label><input class="input100" th:value="${client.experience}" type="text"
                                                   id="experience" name="experience">
        </div>

        <input type="hidden" th:value="${client.id}" th:field="*{id}"/>

        <div class="container-login100-form-btn p-t-10">
            <button class="login100-form-btn">
                Изменить
            </button>
        </div>

    </div>
</form>

</body>
</html>