<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}"/>
</head>
<body class="limiter">
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin p-l-200" th:href="@{/} "><img th:src="@{/img/home.png}" class="account-bin">
            </a>
            <ul class="padding-left-client-menu">
                <li><a class="a-link-margin" th:href="@{/user/edit}">
                    <img th:src="@{/img/edit.png}" class="account-bin">
                </a></li>
                <li><a class="a-link-margin" th:href="@{/user/personal-info}">
                    <img th:src="@{/img/account.png}" class="account-bin">
                </a></li>
                <li><a class="a-link-margin p-l-15" th:href="@{/logout}">
                    <img th:src="@{/img/exit.png}" class="account-bin">
                </a></li>
            </ul>
        </div>
    </div>
</header>

<div class="table-container">
    <h1 class="padding-main-text">Персональная информация</h1>
    <div class="personal-info">

        <h3 class="padding-personal-info">
            Имя пользователя
            <div th:utext="${client.username}">
            </div>
        </h3>
        <h3 class="padding-personal-info">
            Имя
            <div th:utext="${client.firstName}">
            </div>
        </h3>
        <h3 class="padding-personal-info">
            Фамилия
            <div th:utext="${client.lastName}">
            </div>
        </h3>
        <h3 class="padding-personal-info">
            Телефон
            <div th:utext="${client.phone}">
            </div>
        </h3>
    </div>

    <h1 class="padding-main-text">Водительское удостоверение</h1>
    <div class="personal-info-document personal-info">

        <h3 class="padding-personal-info">
            Документ
            <div th:utext="${client.document}">
            </div>
        </h3>
        <h3 class="padding-personal-info">
            Номер документа
            <div th:utext="${client.documentNumber}">
            </div>
        </h3>
        <h3 class="padding-personal-info">
            Опыт(полных лет)
            <div th:utext="${client.experience}">
            </div>
        </h3>
    </div>

</div>

</body>
</html>