<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}"/>
</head>
<body class="limiter">
<div class="container-login100">
    <div class="wrap-login100 p-b-30">
        <form class="login100-form validate-form" th:action="@{/car/add}" method="post">

            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="text" placeholder="Номерной знак" id="plateNumber" name="plateNumber">
            </div>

            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="text" placeholder="Цена в день" id="pricePerDay" name="pricePerDay">
            </div>

            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="text" placeholder="Коробка передач" id="transmission" name="transmission">
            </div>
            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <label>Кондиционер</label>
                <input type="checkbox" checked="checked" id="airConditioner" name="airConditioner"/>
            </div>

            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="text" placeholder="Описание" id="body" name="body">
            </div>

            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="text" placeholder="Места" id="seats" name="seats">
            </div>

            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="text" placeholder="Год выпуска" id="productionYear" name="productionYear">
            </div>

            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="text" placeholder="Класс авто" id="class_auto" name="class_auto">
            </div>

            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="text" placeholder="Объем двигателя" id="engineCapacity" name="engineCapacity">
            </div>


            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="text" placeholder="Тип двигателя" id="engineType" name="engineType">
            </div>


            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="text" placeholder="Потребление" id="consumption" name="consumption">
            </div>

            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="text" placeholder="Модель" id="nameCarModel" name="nameCarModel">
            </div>

            <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                <input class="input100" type="text" placeholder="Марка" id="nameCarMake" name="nameCarMake">
            </div>

            <div class="container-login100-form-btn p-t-10">
                <button class="login100-form-btn">
                    Отправить
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>