<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}"/>
</head>
<body class="limiter">
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin p-l-200" th:href="@{/} "><img th:src="@{/img/home.png}" class="account-bin">
            </a>
            <ul th:if="${#request.isUserInRole('MANAGER')||#request.isUserInRole('CLIENT')}" class="p-l-500">
                <li><a class="a-link-margin p-l-100" th:href="@{/logout}">
                    <img th:src="@{/img/exit.png}" class="account-bin">
                </a></li>
            </ul>
        </div>
    </div>
</header>
<ul th:if="${#request.isUserInRole('MANAGER')}" class="p-l-370">
    <li class="p-l-30">
        <a th:href="@{/car/car-make}">
            <div class="centerVertical centerHorizon buttonMenu">Марки</div>
        </a>
    </li>
    <li class="p-l-30">
        <a th:href="@{/car/add}">
            <div class="centerVertical centerHorizon buttonMenu">Добавить авто</div>
        </a>
    </li>
</ul>

<div class="text-center">
    <h1 class="c-text-h1 margin-five">Поиск авто</h1>
    <form th:action="@{/car/cars}" method="get">

        <label>
            <input class="search" type="text" name="search" th:value="${search}"
                   placeholder="Поиск по марке, модели">
        </label>
        <div>
            <select size="6" name="sort">
                <option disabled>Тип сортировки</option>
                <option value="none" selected>Не сортировать</option>
                <option value="1">По убыванию года</option>
                <option value="2">По возрастанию года</option>
                <option value="3">А-Я марка</option>
                <option value="4">Я-А марка</option>
            </select>
        </div>

        <h2>Год выпуска</h2>
        <label>
            <input class="input-year" type="text" name="fromYear"
                   placeholder="От">
        </label>
        <label>
            <input class="input-year" placeholder="До" type="text" id="toYear" name="toYear">
        </label>
        <div>
            <label>
                <input class="search" type="text" name="fuel"
                       placeholder="Тип топлива">
            </label>
        </div>
        <div>
            <label>
                <input class="search" type="text" name="auto"
                       placeholder="Класс авто">
            </label>
        </div>

        <div class="container-login100-form-btn p-t-10">
            <button class="cars-form">
                Показать
            </button>
        </div>

        <div th:if="${#lists.isEmpty(result)}" class="c-label incorrect">Ничего не найдено!</div>

        <div th:if="${not #lists.isEmpty(result)}">
            <h1 class="c-text-h1">Найденные авто</h1>
            <div class="cars">
                <ul class="car-item">
                    <li th:each="find: ${result}" class="car-block">
                        <img th:src="@{/car/image/{id}(id=${find.photo})}" width="500" height="500" alt="фото">
                        <h2>
                            <div class="text-center"
                                 th:utext="${find.nameCarMake} + ' ' + ${find.nameCarModel} + ', ' +${find.engineType} + ' ' +${find.engineCapacity} + ', ' + ${find.productionYear} + 'г'"></div>
                        </h2>

                        <div class="text-center"
                             th:utext="'Расход:' + ${find.consumption} + ' на 100км'"></div>
                        <div class="text-center"
                             th:utext="'Класс авто:' + ${find.class_auto}"></div>
                        <div class="text-center"
                             th:utext="'Номер:' + ${find.plateNumber}"></div>
                        <div class="text-center"
                             th:utext="'Аренда в день:' + ${find.pricePerDay}"></div>
                        <div class="text-center"
                             th:utext="'Количество мест:' + ${find.seats}"></div>
                        <div class="text-center"
                             th:utext="'Коробка передач:' + ${find.transmission}"></div>
                        <div class="text-center"
                             th:utext="'Кондиционер:' + ${find.airConditioner}"></div>
                        <div class="text-center"
                             th:utext="'Дополнительно:' + ${find.body}"></div>
                        <div class="item-menu">
                            <div th:if="${#request.isUserInRole('CLIENT')}" class="td-x-container"><a
                                    class="a-link-no-margin red-x"
                                    th:href="'/car/rent?id=' + ${find.id}"><img
                                    th:src="@{/img/edit.png}" class="crash-bin"></a></div>
                            <div th:if="${#request.isUserInRole('MANAGER')}" class="td-x-container"><a
                                    class="a-link-no-margin red-x"
                                    th:href="'/car/edit?id=' + ${find.id}"><img
                                    th:src="@{/img/edit.png}" class="crash-bin"></a></div>
                            <div th:if="${#request.isUserInRole('MANAGER')}" class="td-x-container"><a
                                    class="a-link-no-margin red-x"
                                    th:href="'/car/add-photo?id=' + ${find.id}"><img
                                    th:src="@{/img/photo.png}" class="crash-bin"></a></div>
                            <div th:if="${#request.isUserInRole('MANAGER')}" class="td-x-container"><a
                                    class="a-link-no-margin red-x"
                                    th:href="'/car/deleteCar?id=' + ${find.id}"><img
                                    th:src="@{/img/trash-bin.png}" class="crash-bin"></a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
</body>
</html>